.jumbotron
{
    background-color:rgb(65, 95, 65);
    color: #e8e9e8;
}

p
{
    text-align: justify;
}

a
{
    color: #e8e9e8;; 
}

.card
{
    flex: 1 190px;
    padding: 2px 5px 2px 5px;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px #3f3c3c;
    border-radius: 10px;
}

.btn-detalle
{
    background-color: rgb(65, 95, 65);
    color: #e8e9e8;
    width: 100%;
}



footer
{
    background-color: rgb(65, 95, 65);
    color: #e8e9e8;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}



